.background {
  width: 100vw;
  height: auto;
}

.unfinishedTitle {
  margin-left: 5vw;
  font-size: 20px;
  font-weight: bold;
  color: rgba(var(--semi-blue-2), 1);
}

.finishedTitle {
  margin-left: 5vw;
  font-size: 20px;
  font-weight: bold;
  color: rgba(var(--semi-grey-2), 1);
}

.outdatedTitle {
  margin-left: 5vw;
  font-size: 20px;
  font-weight: bold;
  color: rgba(var(--semi-orange-2), 1);
}

.todosList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 85vw;
  margin: 3vw;
}

.cardText{
  font-weight: bold;
}

.inputWrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5vw;
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(61, 159, 254);
  box-shadow:inset 0 0 0 1px rgba(255, 255, 255, .1), 0 4px 14px rgba(0, 0, 0, .25)  ;
}
/* .input{
  background-color: aliceblue;

  width: 85vw;
  height: 50px;
} */
